@model List<ISas.Entities.CommonEntities.Common_AttachemntRefrence>
@{
    int count = 1;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Document Name</th>
            <th>Attach File</th>
            <th>Remark</th>
            <th>Uploaded By</th>
            <th>Upload Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(r => Model[i].uniqueKey, htmlAttributes: new { id = "uniqueKey_" + @i })
            @Html.HiddenFor(r => Model[i].filePath, htmlAttributes: new { id = "filePath_" + @i })

            <tr>
                <td>@Html.DisplayFor(r => @count) </td>
                <td>@Html.DisplayFor(r => Model[i].docType) </td>
                <td><a class="text-sm" href="@Model[i].filePath" download="@Model[i].fileName"> @Html.DisplayFor(r => Model[i].fileName)</a></td>
                <td>@Html.DisplayFor(r => Model[i].remarks)</td>

                <td>@Html.DisplayFor(r => Model[i].updatedBy)</td>
                <td>@Html.DisplayFor(r => Model[i].updatedDate)</td>

                <td class="text-left">
                    <a href="#" onclick="deletefileConfirm('@i')" class="fa fa-trash text-danger" title="Remove Attachment"></a>
                </td>
            </tr>

            count++;
        }
    </tbody>
</table>

<script>
    function deletefileConfirm(index) {
        debugger;
        AsyncConfirmYesNo("Confirmation", "Are you sure to permanently delete this file?", MyYesFunction1, MyNoFunction1, index);
    }
    function MyYesFunction1(index) {
        
        var key = $('#uniqueKey_' + index).val();
        var path = $('#filePath_' + index).val();
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Common_AttachmentRefrence/removeAttachment",
            data: { key: key, filePath: path },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenMessegeAutoHideDiv(result.Msg, result.Color);
                reloadAttachment();
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
    function MyNoFunction1() {
    }

 
</script>